<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="DAOService"/>

    <bean id="configuration" class="org.hibernate.cfg.Configuration"/>
    <bean id="service" class="DAOService.IMPL.AuthorDAOIMPL"/>


    <bean id="session" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="DAO"/>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.DerbyDialect</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="DERBY"/>
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="false"/>
        <property name="databasePlatform" value="org.hibernate.dialect.DerbyDialect"/>
    </bean>

    <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter " ref="hibernateJpaVendorAdapter"/>
    </bean>
    <context:component-scan base-package="DAO"/>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="username" value="mmorris"/>
        <property name="password" value="spittin"/>
        <property name="connectionProperties" value="jdbc:derby:derbyDB;create=true"/>
    </bean>
</beans>